.App {
  background:linear-gradient(135deg, #667eea, #764ba2);;
  padding: 30px;
  width: 420px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: antiquewhite;
}

h1 {
  color: white;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  width: 70%;
  border-radius: 5px;
  border: none;
  margin-right: 5px;
  color:white;
}

button {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  background-color: #00c6ff;
  color: darkturquoise;
  cursor: pointer;
}

button:hover {
  background-color: white;
}

li {
  list-style: none;
  color: white;
  margin-top: 10px;
  padding: 5px;
}